@import "utilidades/variables";
@import "utilidades/listas";


body {
    color: #848484;
    background-color: #848484;
  }
  .contenedor{
    background-color: #2B2B2B;
    color: #E6E6DD;
    margin: 0px 50px;
    padding: 10px 30px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px black;
  }
  input {
    display: none;
  }
  label {
    display: none;
  }
   ul {
    display: flex;
    text-align: right;
  }
  a {
    text-decoration: none;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #848484;
    margin-right: 30px;
  }
.productos{
    width: 10%;
}

.center{
    text-align: center;
}
.pollera{
    width: 25%;
    text-align: center;
    
}
table{
    background-color: $color-secundario;
    color: $color-primario;
    text-align: center;
    margin-left: 42%;
    margin-top: 10px;
}
.comprar{
    text-align: center;
}
footer{
    margin-top: 10px;
    text-align: left;
    color: $color-primario;
    background-color: $color-secundario;
    font-family: $tipografia-secundaria;
}
@media only screen and (max-width: 500px){
    body{
        align-items: center;
    }
    #menu-check:not(:checked) ~ nav {
        display: none;
    }
    #menu-check:checked ~ nav {
        display: block;
    }

    #menu{
        display: block;
        color: #848484;
        background-color: #2B2B2B;
        font-size: 1.2em;
        font-weight: bold;
        border: 3px solid #848484;
        border-radius: 0.3em;
        z-index: 9999;
    }

    #menu-cerrar {
        display: none;
    }

    #menu-check:checked ~ label #menu-abrir {
        display: none;
    }

    #menu-check:checked ~ label #menu-cerrar{
        display: block;
    }

    nav{
        position: absolute;
        top: 10px;
        right: 100px;
        background-color: #2B2B2B;
        opacity: 0.8;
        color: #848484;
    }

    a{
        color: #848484;
    }

    ul{
        display: block;
        text-align: right;
    }

    li{
        display: block;
        text-align: right;
    }
    table{
        background-color: $color-secundario;
        color: $color-primario;
        text-align: center;
        margin-left: 80px;
    }
    .productos{
        width: 20%;
    }
}
@media only screen and (min-width: 501px){
    ul{
        list-style: none;
        display: flex;  
    }
}

